@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

main {
  width: 100vw;
  background: linear-gradient(120deg, #A61473, #05F2F2);
}

html, body {
  width: 100vw;
  height: 100vh;
}
